<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <form class="form-interno" novalidate>
        <!--      <form class="form-interno" [formGroup]="solicitudFrm" novalidate>-->
        <h4 class="card-title font-weight-bold">Información de la Solicitud</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Hoja de ruta</label>
              <div class="col-sm-9">
                <!--<input type="text" class="form-control" placeholder="Nombres Solicitante" [(ngModel)]="solicitud.solicitante.nombre" name="nombre">-->
                <span class="value">{{regSolicitud.solicitud.hojaRuta }}</span>
                <!--                       [(ngModel)]="solicitud.solicitante.materno">-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nombres</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nombres Solicitante" name="nombre"
                       [(ngModel)]="solicitudes.solicitante.nombre" #nombre="ngModel" name="nombre">
                <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                  <div [hidden]="!nombre.errors.required">
                    Debe Ingresar el nombre del solicitante
                  </div>
                  <div [hidden]="!nombre.errors.minlength">
                    Por favor ingrese 4 caractes como valor minimo
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ap. Paterno</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Apellido Paterno" name="paterno"
                         [(ngModel)]="regSolicitud.remExterno.apellido1" #paterno="ngModel" name="paterno" required>
                  <div *ngIf="paterno.errors && (paterno.dirty || paterno.touched)" class="alert alert-danger">
                    <div [hidden]="!paterno.errors.required">
                      Debe Ingresar el Apellido paterno del solicitante
                    </div>
                    <div [hidden]="!paterno.errors.minlength">
                      Por favor ingrese 4 caractes como valor minimo
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Ap. Materno</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Apellido Materno"
                         [(ngModel)]="regSolicitud.remExterno.apellido2" #materno="ngModel" name="materno" required>
                  <div *ngIf="materno.errors && (materno.dirty || materno.touched)" class="alert alert-danger">
                    <div [hidden]="!materno.errors.required">
                      Debe ingresar el apellido materno del solicitante
                    </div>
                    <div [hidden]="!materno.errors.minlength">
                      Por favor ingrese 4 caractes como valor minimo
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sexo</label>
                <div class="col-sm-9">
                  <select class="form-control" name="selTipoSexo" #selTipoSexo="ngModel"
                          [(ngModel)]="solicitudes.solicitante.sexo">
                    <option *ngFor="let obj of tipoGenero" [ngValue]="obj">{{obj.des}}</option>
                  </select>
                  <div *ngIf="selTipoSexo.invalid && (selTipoSexo.dirty || selTipoSexo.touched)" class="invalid-feedback">
                    <div [hidden]="!selTipoSexo.errors.required">
                      Seleccionar el tipo de Sexo
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Documento de Identidad</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Nro. de Documento" pattern="^.*[0-9].*$"
                         [(ngModel)]="regSolicitud.remExterno.numDoc" name="ci" #ci="ngModel">
                  <div *ngIf="ci.errors && (ci.dirty || ci.touched)" class="alert alert-danger">
                    <div [hidden]="!ci.errors.required">
                      Debe ingresar Numero de Documento
                    </div>
                    <div [hidden]="!ci.errors.pattern">
                      Por favor ingrese el formato correcto
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo Documento</label>
                <div class="col-sm-9">
                  <select class="form-control" name="tipDoc" #tipDoc="ngModel"
                          [(ngModel)]="solicitudes.solicitante.tipDoc" required>
                    <option *ngFor="let obj of tipoDocumentoList" [ngValue]="obj">{{obj.des}}</option>
                  </select>
                  <div *ngIf="tipDoc.invalid && (tipDoc.dirty || tipDoc.touched)" class="invalid-feedback">
                    <div [hidden]="!tipDoc.errors.required">
                      Debe seleccionar el Tipo de Documento
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nro. Telefono</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Nro. Telefono" #fono="ngModel"
                         [(ngModel)]="regSolicitud.remExterno.fono1"
                         name="fono" #fono="ngModel" required>
                  <div *ngIf="fono.errors && (fono.dirty || fono.touched)" class="alert alert-danger">
                    <div [hidden]="!fono.errors.required">
                      Debe ingresar el numero de telefono
                    </div>
                    <div [hidden]="!fono.errors.pattern">
                      Por favor ingrese el formato correcto
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nro. Celular</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Nro. Celular" name="celular"
                         [(ngModel)]="regSolicitud.remExterno.fono2">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Direccion</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Direccion" name="direccion">
                  <!--                       [(ngModel)]="solicitud.solicitante.direccion" >-->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Correo Electronico</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Correo Electronico" name="correo"
                         [(ngModel)]="regSolicitud.remExterno.email">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo Caso:</label>
                <div class="col-sm-9">
                  <select class="form-control" name="tipoDocumentoList" [(ngModel)]="solicitudes.caso">
                    <option *ngFor="let obj of tipoCaso" [ngValue]="obj">{{obj.des}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Edad:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Edad"
                         [(ngModel)]="regSolicitud.remExterno.edad" name="edad">
                  <!--                       [(ngModel)]="solicitud.solicitante.celular" >-->
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-description"></p>
                <ngb-accordion [closeOthers]="false" class="accordion accordion-danger">
                  <ngb-panel id="static-7">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Requerimiento de Servicio
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Requerimiento de Servicio" name="requerimiento"
                              [(ngModel)]="regSolicitud.detallesSolicitud.req"></textarea>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-8">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Informe de analisis de requerimiento
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Informe de analisis  de requerimiento"
                              name="analisis"
                              [(ngModel)]="regSolicitud.detallesSolicitud.analisis"></textarea>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-9">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Acciones y Recomendaciones
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Acciones y Recomendaciones"
                              name="recomendaciones"
                              [(ngModel)]="regSolicitud.detallesSolicitud.acciones"></textarea>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-10">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Remision
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Remision" name="remision"
                              [(ngModel)]="regSolicitud.detallesSolicitud.remision"></textarea>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-11">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Observaciones
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="3" placeholder="Observaciones" name="observaciones"
                              [(ngModel)]="regSolicitud.detallesSolicitud.observaciones"></textarea>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel id="static-12">
                    <ng-template ngbPanelTitle>
                      <h6 class="mb-0">
                        Informe de avance y conclusiones de servicio
                      </h6>
                    </ng-template>
                    <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="3" placeholder="Informe de avance y conclusiones de servicio"
                              name="conclusion"
                              [(ngModel)]="regSolicitud.detallesSolicitud.avance"></textarea>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success" (click)="modificarSolicitud()">Guardar</button>
          <button type="button" class="btn btn-outline-primary">Imprimir</button>
          <button type="button" class="btn btn-outline-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-loading-indicator></app-loading-indicator>
</div>
