
<div class="col-xl-9 col-sm-3 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Nueva Solicitud</h4>
      <p class="card-description">
        Basic form elements
      </p>
      <form class="forms-sample" [formGroup]="solicitudForm" novalidate >
        <div class="row">
          <div class="col-xl-6">
            <label for="exampleInputEmail3">Remitente</label>
            <input type="text" class="form-control" id=exampleInputEmail3" placeholder="Remitente" [(ngModel)]="solicitud.nomRemi"
            [formControl]="solicitudForm.controls['nomRemi']">
          </div>
          <div class="col-xl-6">
            <label for="selTipoCargoRe">Cargo</label>
            <select id="selTipoCargoRe" name="selTipoCargoRe" class="form-control" [(ngModel)]="solicitud.carRemi"
            [formControl]="solicitudForm.controls['carRemi']">
              <option *ngFor="let obj of tipoCargoList" [ngValue]="obj">{{obj.des}}</option>
            </select>
<!--            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Cargo">-->
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <label for="exampleInputPassword5">Destinatario</label>
            <input type="text" class="form-control" id="exampleInputPassword5" placeholder="Destinatario" [(ngModel)]="solicitud.nomDesti"
            [formControl]="solicitudForm.controls['nomDesti']" >
          </div>
          <div class="col-xl-6">
            <label for="selTipoCargoDe">Cargo</label>
            <select id="selTipoCargoDe" name="selTipoCargoDe" class="form-control"[(ngModel)]="solicitud.carDesti"
            [formControl]="solicitudForm.controls['carDesti']" >
              <option *ngFor="let obj of tipoCargoList" [ngValue]="obj">{{obj.des}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="referencia">Referencia</label>
          <textarea class="form-control" id="referencia" rows="4" [(ngModel)]="solicitud.referencia"
          [formControl]="solicitudForm.controls['referencia']" ></textarea>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <label class="col-form-label">Tipo Documento</label>
            <select id="setTipoDocumento" name="setTipoDocumento" class="form-control" [(ngModel)]="solicitud.tipDoc"
            [formControl]="solicitudForm.controls['tipDoc']" >
              <option *ngFor="let obj of tipoDocumentoList" [ngValue]="obj">{{obj.des}}</option>
            </select>
          </div>
          <div class="col-xl-3">
            <label for="exampleInputPassword4">Nro. Hojas</label>
            <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Nro. Hojas" [(ngModel)]="solicitud.nroHojas"
            [formControl]="solicitudForm.controls['nroHojas']">
          </div>
          <div class="col-xl-3">
            <label for="exampleInputPassword4">Adjunto</label>
            <input type="text" class="form-control" id="exampleInputPassword4" placeholder="Adjunto">
          </div>
          <div class="col-md-3">
            <label for="fecha" class="col-form-label">Fecha</label>
            <input type="date" name="bday" id="fecha" min="1000-01-01" max="3000-12-31" class="form-control" [(ngModel)]="solicitud.fecReg"
            [formControl]="solicitudForm.controls['fecReg']">
          </div>
        </div>

        <button type="submit" class="btn btn-success mr-2" (click)="registrarSolicitud()">Submit</button>
        <button class="btn btn-light">Cancel</button>
      </form>
    </div>
  </div>
</div>
