<!--<div id="main" role="main" class="animated fadeInUp" style="margin-left: 0px;">
  <div id="content" class="container-fluid" style="max-width: 1024px;">
    <div class="row center">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 -align-center span6" style="float: none; margin: 0 auto;">
        <div class="well no-padding">
          <form class="smart-form client-form" [formGroup] = "logForm" novalidate>
            <header>
              Iniciar Sesión
            </header>
            <fieldset>
              <section>
                <label class="label">Nombre Usuario</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name="usuario" [formControl]="logForm.controls['usuario']" [(ngModel)]="usuario">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Por favor ingrese el nombre de usuario</b></label>
              </section>
              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" [formControl]="logForm.controls['password']" [(ngModel)]="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su password
                  </b> </label>
              </section>
            </fieldset>
            <footer>
              <button  (click)="login()" class="btn btn-primary">
                Acceder
              </button>
            </footer>
          </form>
        </div>
      </div>
      &lt;!&ndash;*ngIf="!recovery">&ndash;&gt;

    </div>

  </div>
</div>-->
<!--<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Universidad Salesiana</title>

  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;

  &lt;!&ndash; Custom styles for this template &ndash;&gt;
  <link href="../../assets/styles/signin.css" rel="stylesheet">
</head>-->
<div class="container form_login">
  <div class="row">
    <div class="col-6">
      <div class="jumbotron">
        <h1 class="h3 mb-3 font-weight-normal">Ingrese sus datos</h1>
        <form class="form-signin"   name="form" #f="ngForm" novalidate>
          <img class="mb-4" src="../../assets/images/logo--usb.png" alt="" width="235" height="56" >
          <label  class="sr-only">Usuario</label>
          <input type="text"  class="form-control" placeholder="Usuario" [(ngModel)]="data.username" #username="ngModel" name="username"
                 [ngClass]="{'is-invalid': f.submitted && username.invalid}" required>
          <div *ngIf="username.errors?.required" class="invalid-feedback">
            <div>Nombre de Usuario requerido</div>
          </div>
          <label class="sr-only">Password</label>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="data.password" #password="ngModel" name="password"
                 [ngClass]="{'is-invalid': f.submitted &&  password.invalid}"required>
          <div *ngIf="password.errors?.required" class="invalid-feedback">
            <div>Datos de la contraseña son requeridos</div>
          </div>
          <button class="btn btn-lg btn-primary btn-block"  (click)="login(f)">acceder</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        </form>
      </div>
    </div>
  </div>
</div>

<!--
<body class="text-center">

</body>
</html>
<div *ngIf="loading">
  <app-loading-indicator></app-loading-indicator>
</div>-->
