<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <p class="card-description">
              Cambio de Contraseña
            </p>
            <form class="forms-sample" name="form" #f="ngForm" novalidate>

              <div class="form-group">
                <label for="pass">Nueva Clave:</label>
                <input type="password" class="form-control border-primary" placeholder="Nueva Contraseña"
                       [(ngModel)]="dataUsuario.passwd"  #pass="ngModel" name="pass" id="pass" required>
                <div *ngIf="pass.errors && (pass.dirty || pass.touched)" class="alert alert-danger">
                  <div [hidden]="!pass.errors.required">
                    Debe ingresar la nueva Clave
                  </div>
                  <div [hidden]="!pass.errors.minlength">
                    Por favor ingrese 4 caractes como valor minimo
                  </div>
                </div>
                <!--</div>-->
              </div>
              <div class="form-group">
                <label for="pass1">Confirmar Clave</label>
                <input type="password" class="form-control border-primary" placeholder="Nueva Contraseña" id="pass1"
                       [(ngModel)]="dataUsuario.passwd1" #pass1="ngModel" name="pass1" required>
                <div *ngIf="pass1.errors && (pass1.dirty || pass1.touched)" class="alert alert-danger">
                  <div [hidden]="!pass1.errors.required">
                   Debe ingresar la clave para confirmar
                  </div>
                  <div [hidden]="!pass1.errors.minlength">
                    Por favor ingrese 4 caractes como valor minimo
                  </div>
                </div>
                <!--</div>-->
              </div>
              <button type="button" [disabled]="f.form.invalid" class="btn btn-outline-primary"
                      (click)="cambiarClave()" label="Show">Cambiar
              </button>
              <button type="button" class="btn btn-outline-warning">Limpiar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
