<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <form name="form" #f="ngForm" novalidate>
        <!--      <form class="form-interno" [formGroup]="solicitudFrm" novalidate>-->
        <p class="card-description font-weight-bold">
          Informacion de la Persona
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nombres</label>
                <div class="col-sm-9">
                  <input id="nombre" type="text" required class="form-control border-primary" placeholder="Nombres Solicitante"
                         minlength="4"
                         [(ngModel)]="solicitudes.solicitante.nombre" #nombre="ngModel" name="nombre">
                  <div *ngIf="nombre.errors && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div [hidden]="!nombre.errors.required">
                      Debe Ingresar el nombre del solicitante
                    </div>
                    <div [hidden]="!nombre.errors.minlength">
                      Por favor ingrese 4 caractes como valor minimo
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ap. Paterno</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" placeholder="Apellido Paterno" uppercase
                       [(ngModel)]="solicitudes.solicitante.paterno" #paterno="ngModel" name="paterno" required>
                <div *ngIf="paterno.errors && (paterno.dirty || paterno.touched)" class="alert alert-danger">
                  <div [hidden]="!paterno.errors.required">
                    Debe Ingresar el Apellido paterno del solicitante
                  </div>
                  <div [hidden]="!paterno.errors.minlength">
                    Por favor ingrese 4 caractes como valor minimo
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ap. Materno</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" placeholder="Apellido Materno"
                       [(ngModel)]="solicitudes.solicitante.materno" #materno="ngModel" name="materno" required>
                <div *ngIf="materno.errors && (materno.dirty || materno.touched)" class="alert alert-danger">
                  <div [hidden]="!materno.errors.required">
                    Debe ingresar el apellido materno del solicitante
                  </div>
                  <div [hidden]="!materno.errors.minlength">
                    Por favor ingrese 4 caractes como valor minimo
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Sexo</label>
              <div class="col-sm-9">
                <select class="form-control border-primary" name="selTipoSexo" #selTipoSexo="ngModel"
                        [(ngModel)]="solicitudes.solicitante.sexo" required>
                  <option value="" disabled selected>Seleccionar el Tipo</option>
                  <option *ngFor="let obj of tipoGenero" [ngValue]="obj">{{obj.des}}</option>
                </select>
                <div *ngIf="selTipoSexo.invalid" class="invalid-feedback">
                  <div [hidden]="!selTipoSexo.errors.required">
                    Seleccionar el tipo de Sexo
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Documento de Identidad</label>
              <div class="col-sm-9">
                <input type="text" pattern="^.*[0-9].*$" required class="form-control border-primary"
                       placeholder="Nro. de Documento"
                       [(ngModel)]="solicitudes.solicitante.ci" name="ci" #ci="ngModel">
                <div *ngIf="ci.errors && (ci.dirty || ci.touched)" class="alert alert-danger">
                  <div [hidden]="!ci.errors.required">
                    Debe ingresar Numero de Documento
                  </div>
                  <div [hidden]="!ci.errors.pattern">
                    Por favor ingrese el formato correcto
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tipo Documento</label>
              <div class="col-sm-9">
                <select class="form-control border-primary" name="tipDoc" #tipDoc="ngModel"
                        [(ngModel)]="solicitudes.solicitud.tipDocSolicitud" required>
                  <option value="" disabled selected>Seleccionar Tipo de Documento</option>
                  <option *ngFor="let obj of tipoDocumentoList" [ngValue]="obj">{{obj.des}}</option>
                </select>
                <div *ngIf="tipDoc.invalid && (tipDoc.dirty || tipDoc.touched)" class="invalid-feedback">
                  <div [hidden]="!tipDoc.errors.required">
                    Debe seleccionar el Tipo de Documento
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nro. Telefono</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" pattern="^[0-9]{8}$" placeholder="Nro. Telefono"
                       [(ngModel)]="solicitudes.solicitante.fono" name="fono" #fono="ngModel" required>
                <div *ngIf="fono.errors && (fono.dirty || fono.touched)" class="alert alert-danger">
                  <div [hidden]="!fono.errors.required">
                    Debe ingresar el numero de telefono
                  </div>
                  <div [hidden]="!fono.errors.pattern">
                    Por favor ingrese el formato correcto
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nro. Celular</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" pattern="^[0-9]{8}$" placeholder="Nro. Celular"
                       [(ngModel)]="solicitudes.solicitante.fono1" name="fono1" #fono1="ngModel" required>
                <div *ngIf="fono1.errors && (fono1.dirty || fono1.touched)" class="alert alert-danger">
                  <div [hidden]="!fono1.errors.required">
                    Debe ingresar el numero de celular
                  </div>
                  <div [hidden]="!fono1.errors.pattern">
                    Por favor ingrese el formato correcto
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Direccion</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" placeholder="Direccion"
                       [(ngModel)]="solicitudes.solicitante.direccion" name="direccion" #direccion="ngModel" required>
                <div *ngIf="direccion.errors && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                  <div [hidden]="!direccion.errors.required">
                    Debe ingresar la direccion de solicitante.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Correo Electronico</label>
              <div class="col-sm-9">
                <input type="text" class="form-control border-primary" placeholder="Correo Electronico"
                       [(ngModel)]="solicitudes.solicitante.email" name="correo"
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       #correo="ngModel" required>
                <div *ngIf="correo.errors && (correo.dirty || correo.touched)" class="alert alert-danger">
                  <div [hidden]="!correo.errors.required">
                    Debe ingresar el correo electronico
                  </div>
                  <div [hidden]="!correo.errors.pattern">
                    El formato de correo no es valido
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tipo Caso:</label>
              <div class="col-sm-9">
                <select class="form-control border-primary" name="tipoDocumentoList"
                        [(ngModel)]="solicitudes.caso" name="caso" #caso="ngModel" required>
                  <option value="" disabled selected>Seleccionar el Tipo de Caso</option>
                  <option *ngFor="let obj of tipoCaso" [ngValue]="obj">{{obj.des}}</option>
                </select>
                <div *ngIf="caso.invalid && (caso.dirty || caso.touched)" class="invalid-feedback">
                  <div [hidden]="!caso.errors.required">
                    Debe seleccionar el Tipo de Caso
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Edad:</label>
              <div class="col-sm-9">
                <input type="text" maxlength="3" pattern="^.*[0-9].*$" class="form-control border-primary" placeholder="Edad"
                       [(ngModel)]="solicitudes.solicitante.edad"
                       #edad="ngModel" name="edad" required>
                <div *ngIf="edad.errors && (edad.dirty || edad.touched)" class="alert alert-danger">
                  <div [hidden]="!edad.errors.pattern">
                    Por favor ingrese el formato correcto
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-description"></p>
              <ngb-accordion [closeOthers]="false"
                             activeIds="static-7, static-8, static-9, static-10, static-11, static-12"
                             class="accordion accordion-danger">
                <ngb-panel id="static-7">
                  <ng-template ngbPanelTitle>
                    <h6 class="">
                      Requerimiento de Servicio
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Requerimiento de Servicio"
                              name="requerimiento" #requerimiento="ngModel" pattern="^[a-zA-Z0-9-.,()#+&\s]+$"
                              [(ngModel)]="solicitudes.solicitud.requerimiento" ></textarea>
                    <div *ngIf="requerimiento.errors && (requerimiento.dirty || requerimiento.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!requerimiento.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-8">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Informe de analisis de requerimiento
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Informe de analisis  de requerimiento"
                              [(ngModel)]="solicitudes.solicitud.analisis" name="analisis" #analisis="ngModel"
                              pattern="^[a-zA-Z0-9-.,@'´()#+&\s]+$"></textarea>
                    <div *ngIf="analisis.errors && (analisis.dirty || analisis.touched)" class="alert alert-danger">
                      <div [hidden]="!analisis.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-9">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Acciones y Recomendaciones
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Acciones y Recomendaciones"
                              [(ngModel)]="solicitudes.solicitud.recomendaciones" name="recomendaciones"
                              #recomendaciones="ngModel"
                              pattern="^[a-zA-Z0-9-.,@'´()#+&\s]+$"></textarea>
                    <div *ngIf="recomendaciones.errors && (recomendaciones.dirty || recomendaciones.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!recomendaciones.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-10">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Remision
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Remision"
                              [(ngModel)]="solicitudes.solicitud.remision" name="remision" #remision="ngModel"
                              pattern="^[a-zA-Z0-9-.,@'´()#+&\s]+$"></textarea>
                    <div *ngIf="remision.errors && (remision.dirty || remision.touched)" class="alert alert-danger">
                      <div [hidden]="!remision.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-11">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Observaciones
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Observaciones"
                              [(ngModel)]="solicitudes.solicitud.observaciones" name="observaciones"
                              #observaciones="ngModel"
                              pattern="^[a-zA-Z0-9-.,@'´()#+&\s]+$"></textarea>
                    <div *ngIf="observaciones.errors && (observaciones.dirty || observaciones.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!observaciones.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-12">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Informe de avance y conclusiones de servicio
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control border-primary" rows="3" placeholder="Informe de avance y conclusiones de servicio"
                              [(ngModel)]="solicitudes.solicitud.conclusion" name="conclusion" #conclusion="ngModel"
                              pattern="^[a-zA-Z0-9-.,@'´()#+&\s]+$"></textarea>
                    <div *ngIf="conclusion.errors && (conclusion.dirty || conclusion.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!conclusion.errors.pattern">
                        Por favor no estan permitidos caracteres especiales
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <button type="button" [disabled]="f.form.invalid" (click)="recibir(f)" class="btn btn-outline-success">Guardar
        </button>
        <button type="button" class="btn btn-outline-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-loading-indicator></app-loading-indicator>
</div>
