<h3 class="font-weight-bold">Matriz de Seguimiento</h3>
<div class="content-section implementation">
  <p-table [value]="matriz.data" dataKey="hojaRuta" [paginator]="true" [rows]="10" [sortOrder]="-1">
    <ng-template pTemplate="header">
      <tr>
        <th>Fecha</th>
        <th>Remitente</th>
        <th>Asignado</th>
        <th>Estado</th>
        <th>Accion</th>
        <th>Descripcion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
      <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.hojaRuta].index === rowIndex">
        <td colspan="6">
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
            <span style="font-size: 10.5px;">{{rowData.hojaRuta}}</span>
          </a>
<!--          <a   (click)="imprimirSeleccionado()" style="font-size: 10.5px; position: relative;float: right;">Imprimir</a>-->
          <button type="button" class="btn btn-outline-primary btn-xs" (click)="imprimirSeleccionado(rowData.solicId)" style="font-size: 10px; position: relative;float: right;">Imprimir</button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="font-size: 10.5px;">{{rowData.fechaRevision|date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td style="font-size: 10.5px;">{{rowData.remitInt|uppercase}}</td>
        <td style="font-size: 10.5px;">{{rowData.asignadoA|uppercase}}</td>
        <td style="font-size: 10.5px;">{{rowData.descEstSolic|uppercase}}</td>
        <td style="font-size: 10.5px;">{{rowData.descTipoTarea|uppercase}}</td>
        <td style="font-size: 10.5px;">{{rowData.descTarea|uppercase}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
