<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <form class="form-interno" novalidate>
        <!--      <form class="form-interno" [formGroup]="solicitudFrm" novalidate>-->
        <p class="card-description font-weight-bold">
          Informacion de la Persona
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nombres</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nombres Solicitante" [(ngModel)]="solicitud.solicitante.nombre" name="nombre">
                <!--                       [(ngModel)]="solicitud.solicitante.materno">-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ap. Paterno</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Apellido Paterno" [(ngModel)]="solicitud.solicitante.paterno" name="paterno">
                <!--                       [(ngModel)]="solicitud.solicitante.materno">-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ap. Materno</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Apellido Materno" [(ngModel)]="solicitud.solicitante.materno" name="materno">
                <!--                       [(ngModel)]="solicitud.solicitante.materno">-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Sexo</label>
              <div class="col-sm-9">
                <select class="form-control" name="selTipoSexo"
                        [(ngModel)]="solicitud.solicitante.sexo">
                  <option *ngFor="let obj of tipoSexoList" [ngValue]="obj">{{obj.des}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Documento de Identidad</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nro. de Documento" [(ngModel)]="solicitud.solicitante.ci" name="ci">
                <!--                       [(ngModel)]="solicitud.solicitante.ci">-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tipo Documento</label>
              <div class="col-sm-9">
                <select class="form-control" name="selTipoDoc"
                        [(ngModel)]="solicitud.solicitante.tipDoc">
                  <option *ngFor="let obj of tipoDocumentoList" [ngValue]="obj">{{obj.des}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nro. Telefono</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nro. Telefono" [(ngModel)]="solicitud.solicitante.telefono" name="telefono">
                <!--                       [(ngModel)]="solicitud.solicitante.telefono" >-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Nro. Celular</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nro. Celular" [(ngModel)]="solicitud.solicitante.celular" name="celular">
                <!--                       [(ngModel)]="solicitud.solicitante.celular" >-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Direccion</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Direccion" [(ngModel)]="solicitud.solicitante.direccion" name="direccion">
                <!--                       [(ngModel)]="solicitud.solicitante.direccion" >-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Correo Electronico</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Correo Electronico" [(ngModel)]="solicitud.solicitante.celular" name="celular">
                <!--                       [(ngModel)]="solicitud.solicitante.correo">-->
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Requerimiento</label>
              <div class="col-sm-9">
                <textarea class="form-control" rows="2" placeholder="Requerimiento de Servicio" [(ngModel)]="solicitud.requerimiento" name="requerimiento"></textarea>
              </div>
            </div>
          </div>
        </div>-->
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"></h4>
              <p class="card-description"></p>
              <ngb-accordion [closeOthers]="false"  class="accordion accordion-danger">
                <ngb-panel id="static-7">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Requerimiento de Servicio
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Requerimiento de Servicio" [(ngModel)]="solicitud.requerimiento" name="requerimiento"></textarea>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-8">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Informe de analisis  de requerimiento
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Informe de analisis  de requerimiento" [(ngModel)]="solicitud.analisis" name="analisis"></textarea>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-9">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Acciones y Recomendaciones
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Acciones y Recomendaciones" [(ngModel)]="solicitud.recomendaciones" name="recomendaciones"></textarea>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-10">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Remision
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="2" placeholder="Remision" [(ngModel)]="solicitud.remision" name="remision"></textarea>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-11">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Observaciones
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="3" placeholder="Observaciones" [(ngModel)]="solicitud.observaciones" name="observaciones"></textarea>
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-12">
                  <ng-template ngbPanelTitle>
                    <h6 class="mb-0">
                      Informe de avance y conclusiones de servicio
                    </h6>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <textarea class="form-control" rows="3" placeholder="Informe de avance y conclusiones de servicio" [(ngModel)]="solicitud.conclusion" name="conclusion"></textarea>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-fw" (click)="recibir()">Recibir</button>
        <button type="button" class="btn btn-warning btn-fw">Cancelar</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <app-loading-indicator></app-loading-indicator>
</div>
